<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div [ngSwitch]="selected">
                <app-cont-emp *ngSwitchCase="1"></app-cont-emp>
                <app-cont-usr *ngSwitchCase="2"></app-cont-usr>
                <app-cont-pro *ngSwitchCase="3"></app-cont-pro>
                <div *ngSwitchDefault class="noContainer"></div>
            </div>
        </div>
        <div class="col-md-3">
            <app-aside></app-aside>
        </div>

    </div>
</div>
<app-change *ngIf="pwset"></app-change>
